#Name,
#Email,
#Phone,
#Message {
  width: 100%;
  padding-left: 60px;
  font-size: 20px;
  margin-bottom: 20px;
}

#Name,
#Email,
#Phone {
  height: 50px;
}

#Message {
  height: 200px;
}

/* Estilos para pantallas de tamaño 'md' y superiores */
@media (min-width: 768px) {
  #Name,
  #Email,
  #Phone {
    height: 50px;
    font-size: 1.25rem; /* 20px */
  }

  #Message {
    height: 200px;
    font-size: 1.25rem; /* 20px */
  }
}
