@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #ededed;
  --secondary-color: #4f7363;
  --navbar-color: #68b0ab;
  --gray-color: #8a8a8a;
  --black-color: #252e2a;
  --card-color: #8fc0a9;
  --second-card-color: #c8d5b9;
  --white-color: #e4e4e4;
  --second-gray: #d9d9d9;
  --background-color: #f3f3f2;
  --pills-color: #6a887a;

  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  background-color: var(--background-color);
}

.mySwiper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.swiper {
  width: 100%;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 150px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--secondary-color) !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
  opacity: 1 !important;
}

@media (max-width: 1920px) {
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px;
  }
}
