/* Marquee Component Styles */
.marquee-container {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin: 24px 0;
  overflow: hidden;
}

.marquee-item {
  margin: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee-item img {
  height: 40px;
  width: auto;
  object-fit: contain;
  filter: brightness(0);
  opacity: 0.5;
  transition: opacity 300ms;
}

.marquee-item img:hover {
  opacity: 1;
}

@media (min-width: 1024px) {
  .marquee-item {
    margin: 0 56px;
  }
}